* {
    padding: 0;
    margin: 0;
}

body {
    margin: 1em 10%;
    max-width: 80em;
}

#header {
    background-image: url("../images/guitarist.jpg");
    background-repeat: repeat-x;
    background-position: bottom right;
    background-size: contain;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}

#navigation {
    padding-left: 10%;
}

#navigation ul {

    overflow: hidden;

}

#navigation li {
    float: left;
    display: block;
    padding: .5em 2em;
    font-weight: bold;
}

#navigation li a{
    padding: .5em 2.3em;
    color: rgba(255,255,255,0.7);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#content {
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding:2em 10%;
}

#logo {
    width: 32%;
    border: .2em solid #99cccc;
    height: 100%;
}

#about #header {
    background-image: url("../images/back1.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 860px;
    background-position: right;
}

#photos #header {
    background-image: url("../images/back2.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 860px;
    background-position: right;
}

#live #header {
    background-image: url("../images/back3.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 860px;
    background-position: center right;
}

#contact #header {
    background-image: url("../images/back4.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 860px;
    background-position: center right;
}

#photos #photolist li {
    float: left;
    padding: 3px;
    border: 1px solid #ddd;
    list-style: none;
    display: inline;
}

#photos #photolist li :hover {
    transform: scale(1.2) rotate(-8deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

#placeholder {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#description {
    font-weight: bold;
}